<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>

  <h2 class="title">SkribblAI</h2>

  <div id="game">

      <div class="row">
          <div class="col">
              <!-- Connecting -->
              <div v-if="!connected">
                <p>Connecting...</p>
              </div>

              <!-- Error Display -->
              <div v-if="error" class="alert alert-danger">
                <strong>Error: </strong> {{error}}
              </div>

              <!-- Waiting for player to join -->
              <div v-if="state.state == 0">
                <%- include('join') -%>
              </div>

              <!-- Starting game -->
              <div v-else-if="state.state == 1">
                <%- include('play') -%>
              </div>

              <!-- Game over -->
              <div v-else-if="state.state == 2">
                <%- include('end') -%>
              </div>


              <!-- <div v-else>
                <p>Connecting...</p>
                <%- include('chat'); -%>
              </div> -->
          </div>
          <div class="col-md-3" v-if="me.state > 0">
            <input type="text" @keyup.enter="chat()" v-model="chatmessage" class="form-control" placeholder="Chat" >
            <ul id="messages">
            </ul>
          </div>
      </div>
  </div>

  <%- include('footer'); -%>
</html>
